@import url('https://fonts.rasal.de/?font=LibreBaskerville,Sentinel,OldStandardTT,NewComputerModern,NewComputerModern,JetBrainsMono');
:root {
    --dark: #282c34;
    --lightgrey: #abb2bf;
    --grey: #818896;
    --darkgrey: #5c6370;
    --bluegreen: #56b6c2;
    --blue: #61aeee;
    --pink: #c678dd;
    --salomon: #e06c75;
    --green: #98c379;
    --red: #be5046;
    --orange: #d19a66;
    --yellow: #e6c07b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

html,
body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

body {
    height: 100vh;
    background: var(--dark);
    color: var(--lightgrey);
    font-family: 'LibreBaskerville_Regular', 'Garamond', serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
}

h3 {
    font-size: 1.2em;
    line-height: 18px;
    color: var(--blue)
}

#content {
    margin: auto;
    display: grid;
    max-width: 1200px;
    gap: 20px;
}

fieldset {
    min-width: 630px;
    /* width: 430px; */
    /* width: max-content; */
    height: max-content;
    border: 2px solid var(--lightgrey);
    border-radius: 5px;
    padding: 1em;
}

fieldset legend {
    font-size: 2em;
}

#form {
    grid-column: 1;
}

#form legend {
    color: var(--blue)
}

#console {
    grid-column: 2;
}

#console legend {
    color: var(--green)
}

#items {
    margin: 0;
}

#console_output {
    margin: 0;
}

#console_output,
#items {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    scrollbar-width: none;
}

#items::-webkit-scrollbar,
#console_output::-webkit-scrollbar {
    display: none;
}

#ChooseRepoURL {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 40px;
    top: 50px;
    background: var(--dark);
}

#ChooseRepoURL h3 {
    font-weight: 700;
    display: inline;
}

.item #RepoURL {
    font-family: 'LibreBaskerville_Regular', 'Garamond', serif;
    font-size: 1.2em;
    text-align: right;
    background: var(--dark);
    border: none;
    color: var(--orange);
    float: right;
}

.item {
    max-width: 600px;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--darkgrey);
    position: relative;
    top: 60px;
}

.item .text {
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0;
    max-width: 480px;
    text-align: justify;
}

.item #CustomCommand {
    width: 100%;
}

.item button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0.5em;
    text-align: center;
    cursor: pointer;
    width: 100px;
    background: var(--blue);
}

.item button:hover {
    background: var(--grey);
}

button:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    right: 0;
    background: var(--blue);
    padding: 5px 15px;
    color: var(--dark);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

button:hover:after {
    opacity: 1;
}

input.ff_input {
    display: block;
    color: var(--dark);
    background: var(--lightgrey);
    width: 200px;
    margin-top: .5em;
}

 ::-ms-input-placeholder,
 :-ms-input-placeholder,
 ::placeholder {
    color: var(--red);
    opacity: 1;
}

 ::placeholder {
    color: var(--red);
    opacity: 1;
}

button,
input {
    font-family: 'JetBrainsMono_SemiLight', 'Courier New', monospace;
    height: 23px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 2px 3px;
}

textarea:focus,
input:focus {
    outline: none;
}

.response {
    position: relative;
    top: 90vh;
    padding-top: 1em;
}

.response {
    color: var(--green);
}

.response span {
    color: var(--green);
}

.response pre {
    font-family: 'JetBrainsMono_Regular', 'Courier New', monospace;
    color: var(--lightgrey);
    padding-bottom: 1em;
}

.responsedebug {
    position: relative;
    top: 370px;
    padding: 1em;
    color: var(--green);
    background-color: var(--dark);
    border: 1px solid var(--darkgrey);
    border-radius: 5px;
}

#debug {
    display: none;
    position: absolute;
    top: -350px;
    right: 200px;
}


/* 
#form input:focus {
    outline: 3px solid var(--bluegreen); 
}
*/