@import url('https://fonts.rasal.de/?font=LibreBaskerville,Sentinel,OldStandardTT,NewComputerModern,NewComputerModern,JetBrainsMono');
:root {
    --dark: #282c34;
    --lightgrey: #abb2bf;
    --grey: #818896;
    --darkgrey: #5c6370;
    --bluegreen: #56b6c2;
    --blue: #61aeee;
    --pink: #c678dd;
    --salomon: #e06c75;
    --green: #98c379;
    --red: #be5046;
    --orange: #d19a66;
    --yellow: #e6c07b;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
}

html,
body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

body {
    height: 100vh;
    background: #111;
    color: #aaa;
    font-family: 'LibreBaskerville_Regular', 'Garamond', serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
}

#content {
    margin: auto;
    display: grid;
    max-width: 1200px;
    gap: 20px;
}

fieldset {
    min-width: 630px;
    /* width: 430px; */
    /* width: max-content; */
    height: max-content;
    border: 2px solid #5e5e5e;
    border-radius: 5px;
    border-color: #aaa;
    padding: 1em;
}

fieldset legend {
    font-size: 2em;
}

#form {
    grid-column: 1;
}

#console {
    grid-column: 2;
    /* max-width: 600px; */
}

#items {
    /* max-width: 630px; */
}

#console_output {
    /* min-width: 400px; */
    /* max-width: 630px; */
}

#console_output,
#items {
    /* height: 450px; */
    /* height: 100%; */
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    scrollbar-width: none;
}

#items::-webkit-scrollbar,
#console_output::-webkit-scrollbar {
    display: none;
}

#ChooseRepoURL {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    top: 50px;
    background: #111;
    /* position: relative; */
}

#ChooseRepoURL h3 {
    display: inline;
    /* position: relative; */
}

.item #RepoURL {
    font-size: 1.1em;
    text-align: right;
    background: #111;
    border: none;
    color: cornflowerblue;
    float: right;
}

.item {
    max-width: 600px;
    /* display: inline-block; */
    margin-bottom: 1.5em;
    border-bottom: 1px solid #5e5e5e;
    /* vertical-align: bottom; */
    position: relative;
    top: 70px;
}

.item .text {
    /* font-size: 16px; */
    /* display: inline-block; */
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0;
    max-width: 480px;
    text-align: justify;
}

.item #CustomCommand {
    width: 100%;
}


/* #form input {
float: left;
margin-bottom: 0.5rem;
background: #fff;
border: 1px solid #9c9c9c;
padding: 0.7em;
}

#form input:focus {
outline: 3px solid gold;
}
*/

.item button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0.5em;
    text-align: center;
    cursor: pointer;
    width: 100px;
}

.item button:hover {
    background: lightgrey;
}

button:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: -20%;
    background: #afafaf;
    padding: 5px 15px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

button:hover:after {
    opacity: 1;
}

input.ff_input {
    display: block;
    color: black;
    margin-top: .5em;
    width: 200px;
}

 ::-ms-input-placeholder,
 :-ms-input-placeholder,
 ::placeholder {
    color: rgb(243, 105, 105);
    opacity: 1;
}

 ::placeholder {
    color: rgb(153, 20, 20);
    opacity: 1;
}

button,
input {
    font-family: 'JetBrainsMono_SemiLight', 'Courier New', monospace;
    height: 23px;
    background: grey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 3px;
}


/*     
    .ff_input {
        background-color: grey;
        border: 1px solid darkgray;
        color: black;
        border-radius: 3px;
    padding: 2px 3px;
    width: 200px;
}
*/

textarea:focus,
input:focus {
    outline: none;
}

.response {
    position: relative;
    top: 90vh;
    padding-top: 1em;
}

.response {
    color: rgba(45, 112, 48, 0.979);
}

.response span {
    color: rgba(80, 124, 82, 0.979);
}

.response pre {
    font-family: 'JetBrainsMono_Regular', 'Courier New', monospace;
    color: #aaa;
    padding-bottom: 1em;
}

.responsedebug {
    position: relative;
    top: 370px;
    padding: 1em;
    color: rgba(45, 112, 48, 0.979);
    background-color: rgb(19, 19, 19);
    border: 1px solid darkgray;
    border-radius: 5px;
}

#debug {
    display: none;
    position: absolute;
    top: -350px;
    right: 200px;
}